.top {
	background: #F2F2F2;
	height: 40px;
	line-height: 40px;
}
.vertical {
	border-left: thin solid #000000;
}
.motto {
	height: 130px;
	line-height: 130px;
	margin-top-top: 12px; 
}
h1 + small {
	font-size: 1em;
}
.the-team {
	padding-bottom: 30px;
}
.contact {
	padding-top: 30px;
	height: 50px;
	line-height: 50px;
	font-size: 1.3em;
}
.buttons {
	padding-top: 45px;
	margin-bottom: 40px;
}